.login_prompt {
  padding: 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 8px 0;

  a {
    color: #3897f0;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
